@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');

:root {
    --primary-font-family: 'Tajawal', sans-serif;
    /* --secondary-font-family: 'El Messiri', sans-serif; */
    /* --secondary-font-family: 'Kufam', sans-serif; */
    --font-weight: 600;
    --font-style: normal;
    --font-icons: 'Material Icons Outlined';
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --gap-xsm: .5rem;
    --gap-sm: 1.5rem;
    --gap-md: 2.5rem;
    --gap-lg: 4.5rem;
    --width-100: 100px;
    --height-100: 100px;
    --m-width-100: 100%;
    --m-height-100: 100%;
    --mvw-width-100: 100vw;
    --mvh-height-100: 100vh;
    --p-xsm: .5rem;
    --p-sm: 1.5rem;
    --p-md: 2.5rem;
    --p-lg: 4.5rem;
    --m-xsm: .5rem;
    --m-sm: 1.5rem;
    --m-md: 2.5rem;
    --m-lg: 4.5rem;
    --border-radius-xsm: .25rem;
    --border-radius-sm: .5rem;
    --border-radius-md: 2.5rem;
    --border-radius-lg: 5rem;
    --wrapper-p-sm: 0 2.5rem;
    --wrapper-p-lg: 0 3rem;
    --orange-color: #f28123;
    --orange-color-hover: #d95e00;
    --muted-color: #999;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font-family);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    background: #f3f4f5;
}

a {
    text-decoration: none !important;
}

figure {
    margin: 0;
}

img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.auth__wrapper {
    display: grid;
    place-items: center;
    width: var(--mvw-width-100);
    height: var(--mvh-height-100);
    background: url('/assets/img/svg/stacked-waves.svg');
}

.auth__wrapper-main {
    background: var(--bs-white);
    width: calc(var(--m-width-100) - 60%);
    padding: var(--p-sm);
    border-radius: calc(var(--border-radius-sm) + .5rem);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    transition: width .5s ease-in-out;
}

.auth__wrapper-form {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap-sm) - .5rem);
}

.social__links {
    width: 32px;
}

.form-control {
    background: var(--bs-white);
}

.input-password {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.input-password-icon {
    position: absolute;
    margin-left: var(--m-xsm);
    font-size: 20px;
    padding: calc(var(--p-xsm) - .25rem);
    background: var(--bs-light);
    color: var(--bs-secondary);
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s ease;
}

.input-password-icon:hover {
    color: var(--bs-primary);
    background: #f3f3f3;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-top: 1px solid #dee2e6;
    margin: 0 10px;
}

@media screen and (max-width:768px) {
    .auth__wrapper-main {
        width: calc(var(--m-width-100) - 40%);
    }
}

@media screen and (max-width:576px) {
    .auth__wrapper-main {
        width: calc(var(--m-width-100) - 20%);
    }
}

.dashboard__wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 260px 1fr;
    grid-template-areas: 'aside main';
    transition: grid-template-columns .3s ease-in-out;
}

.aside__wrapper {
    grid-area: aside;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'brand''menu';
    position: fixed;
    width: calc((var(--width-100) * 2) + 60px);
    height: var(--m-height-100);
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--bs-white);
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
    transition: width .3s ease-in-out;
}

.aside__brand {
    grid-area: brand;
    display: flex;
    align-items: center;
    padding: var(--p-sm);
    gap: calc(var(--gap-sm) - .5rem);
}

.aside__brand span {
    font-size: 22px;
}

.aside__menu {
    grid-area: menu;
    padding: 0 var(--p-sm) var(--p-sm) var(--p-sm);
}

.aside__menu-ul {
    display: flex;
    flex-direction: column;
    height: var(--m-height-100);
    padding: 0;
    list-style: none;
    gap: calc(var(--gap-xsm) + .25rem);
}

.aside__menu-ul a,
.aside__menu-ul button {
    display: block;
    text-decoration: none;
    color: var(--bs-dark);
    background: #f3f4f5;
    padding: var(--p-xsm) calc(var(--p-sm) - .5rem);
    border-radius: var(--border-radius-xsm);
    transition: all .3s ease;
}

.aside__menu-ul a.active {
    background: var(--orange-color);
    color: var(--bs-white);
}

.aside__menu-ul a:not(.active):hover,
.aside__menu-ul a:not(.active):focus,
.aside__menu-ul a:not(.active):active {
    color: var(--bs-white);
    background: var(--orange-color);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.aside__menu-ul li:last-child {
    margin-top: auto;
}

.aside__menu-ul li button {
    background: var(--bs-danger);
    color: var(--bs-white);
    transition: all .3s ease;
}

.aside__menu-ul li button:hover,
.aside__menu-ul li button:focus,
.aside__menu-ul li button:active {
    background: #c82333;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.icon__container {
    display: flex;
    align-items: center;
    gap: calc(var(--gap-sm) - .5rem);
}

.menu__text {
    text-wrap: nowrap;
}

.menu__icon {
    font-size: 22px;
    font-family: var(--font-icons);
}

.menu__icon.dashboard::before {
    content: '\e871';
}

.menu__icon.main::before {
    content: '\e88a';
}

.menu__icon.role::before {
    content: '\e8d3';
}

.menu__icon.country::before {
    content: '\e153';
}

.menu__icon.user::before {
    content: '\e7f0';
}

.menu__icon.profile::before {
    content: '\f02e';
}

.menu__icon.settings::before {
    content: '\e8b8';
}

.menu__icon.analysis::before {
    content: '\e918';
}

.menu__icon.posts::before {
    content: '\ef42';
}

.menu__icon.create::before {
    content: '\ea20';
}

.menu__icon.log-out::before {
    content: '\e9ba';
}

.menu__icon.users::before {
    content: '\F4CF';
}

.menu__icon.categories::before {
    content: '\e574';
}

.menu__icon.tags::before {
    content: '\e98b';
}

.dashboard__wrapper.collapsed {
    grid-template-columns: 100px 1fr;
}

.dashboard__wrapper.collapsed .aside__wrapper {
    width: var(--width-100);
}

.dashboard__wrapper.collapsed .menu__text {
    display: none;
}

.dashboard__wrapper.collapsed .aside__brand {
    display: block;
    margin: auto;
}

@media(max-width:768px) {
    .dashboard__wrapper {
        grid-template-columns: 100px 1fr;
        transition: grid-template-columns .3s ease-in-out;
    }

    .aside__wrapper {
        width: var(--width-100);
        transition: width .3s ease-in-out;
    }

    .menu__text {
        display: 0;
    }

    .aside__brand {
        display: block;
        margin: auto;
    }
}

.dashboard__main {
    grid-area: main;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'header''content';
    width: var(--m-width-100);
}

.dashboard__header {
    grid-area: header;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: max-content 1fr;
    grid-template-areas: 'toggle menu';
    position: sticky;
    top: 0;
    background: var(--bs-white);
    box-shadow: 0 3px 0px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.aside__toggle {
    grid-area: toggle;
    background: none;
    color: var(--bs-dark);
    border: none;
    font-size: 22px;
    transform: rotate(-180deg);
}

.ham {
    cursor: pointer;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: var(--bs-dark);
    stroke-width: 5.5;
    stroke-linecap: round;
}

.ham8 .top {
    stroke-dasharray: 40 160;
}

.ham8 .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
}

.ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
    stroke-dashoffset: -64px;
}

.ham8.active .middle {
    transform: rotate(90deg);
}

.ham8.active .bottom {
    stroke-dashoffset: -64px;
}

.header__menu {
    grid-area: menu;
    display: flex;
    justify-content: flex-end;
}

.header__menu-ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0 var(--p-sm);
    gap: calc(var(--gap-md) - .5rem);
}

.li__btn {
    position: relative;
}

.li__btn.language,
.li__btn.messages,
.li__btn.notifications {
    font-family: var(--font-icons);
    font-size: 25px;
    color: var(--bs-dark);
}

.li__btn.language::before {
    content: '\e894';
}

.li__btn.messages::before {
    content: '\e0be';
}

.li__btn.notifications::before {
    content: '\e7f4';
}

.li__btn-badge {
    position: absolute;
    top: -2px;
    right: 10px;
    border-radius: 50%;
    padding: calc(var(--p-xsm) - .35rem) var(--p-xsm);
    font-size: 12px;
}

.li__btn-badge.notifications {
    color: var(--bs-white);
    background: var(--bs-danger);
}

.li__btn-badge.messages {
    color: var(--bs-dark);
    background: var(--bs-warning);
    right: 12px;
}

.drop-notify,
.drop-msg {
    --bs-dropdown-min-width: 20rem
}

.dashboard__main-container {
    grid-area: content;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'breadcrumb''content';
    padding: var(--p-sm);
    gap: var(--gap-sm);
}

.dashboard__breadcrumb {
    grid-area: breadcrumb;
    background: var(--bs-white);
    padding: calc(var(--p-sm) - .5rem) var(--p-sm);
    border-radius: var(--border-radius-xsm);
}

.breadcrumb {
    --bs-breadcrumb-padding-x: 0;
    --bs-breadcrumb-padding-y: 0;
    --bs-breadcrumb-margin-bottom: 0;
    --bs-breadcrumb-bg: ;
    --bs-breadcrumb-border-radius: ;
    --bs-breadcrumb-divider-color: var(--bs-secondary-color);
    --bs-breadcrumb-item-padding-x: 0;
    --bs-breadcrumb-item-active-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 0;
    margin-bottom: var(--bs-breadcrumb-margin-bottom);
    font-size: var(--bs-breadcrumb-font-size);
    list-style: none;
    background-color: var(--bs-breadcrumb-bg);
    border-radius: var(--bs-breadcrumb-border-radius)
}

.breadcrumb-item+.breadcrumb-item {
    padding-right: 0
}

.breadcrumb-item+.breadcrumb-item::before {
    float: right;
    padding-left: .5rem;
    color: var(--bs-breadcrumb-divider-color);
    font-family: var(--font-icons);
    content: var(--bs-breadcrumb-divider, "\e5cb")
}

.breadcrumb-item.active {
    color: var(--bs-breadcrumb-item-active-color)
}

.breadcrumb a {
    text-decoration: none;
}

.dashboard__main-content {
    grid-area: content;
    padding: var(--p-sm);
    background: var(--bs-white);
    border-radius: var(--border-radius-xsm);
}

.table__wrapper {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: 'filter''table''paginate';
    gap: var(--gap-sm);
}

.table__filter {
    grid-area: filter;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-areas: 'search per-page options';
    gap: var(--gap-sm);
}

.filter__search {
    grid-area: search;
    display: flex;
}

.btn__search {
    display: grid;
    place-items: center;
    color: var(--bs-white);
    background: var(--orange-color);
    padding: var(--p-xsm) calc(var(--p-sm) - .5rem);
    border-top-right-radius: var(--border-radius-xsm);
    border-bottom-right-radius: var(--border-radius-xsm);
}

.btn__search::before {
    content: '\e8b6';
    font-family: var(--font-icons);
}

.input__search {
    border-radius: 0;
    border-top-left-radius: var(--border-radius-xsm);
    border-bottom-left-radius: var(--border-radius-xsm);
}

.filter__per-page {
    grid-area: per-page;
}

.filter__options {
    grid-area: options;
}

.btn__options {
    display: flex;
    align-items: center;
    width: var(--m-width-100);
    color: var(--bs-white);
    background: var(--orange-color);
    padding: var(--p-xsm) calc(var(--p-sm) - .5rem);
    border-radius: var(--border-radius-xsm);
    gap: var(--gap-xsm);
}

.btn__options::before {
    content: '\e429';
    font-family: var(--font-icons);
}

.btn__search,
.btn__options {
    transition: background-color .3s ease;
}

.btn__search:hover,
.btn__options:hover {
    background: var(--orange-color-hover);
}

.actions__btn {
    display: grid;
    width: max-content;
    grid-template-rows: max-content;
    grid-template-columns: repeat(3, max-content);
    gap: .5rem;
}

.btn__show {
    display: grid;
    place-items: center;
    padding: .15rem var(--p-xsm);
    color: var(--bs-white);
    background: var(--bs-success);
    border-radius: var(--border-radius-xsm);
}

.btn__show::before {
    content: '\f1c4';
    font-family: var(--font-icons);
}

.btn__edit {
    display: grid;
    place-items: center;
    padding: .15rem var(--p-xsm);
    color: var(--bs-white);
    background: var(--bs-primary);
    border-radius: var(--border-radius-xsm);
}

.btn__edit::before {
    content: '\e3c9';
    font-family: var(--font-icons);
}

.btn__delete {
    display: grid;
    place-items: center;
    padding: .15rem var(--p-xsm);
    color: var(--bs-white);
    background: var(--bs-danger);
    border-radius: var(--border-radius-xsm);
}

.btn__delete::before {
    content: '\e872';
    font-family: var(--font-icons);
}


.form-select {
    background-color: var(--bs-white);
}



.table__body {
    grid-area: table;
}

.table__paginate {
    grid-area: paginate;
}

.avatar {
    width: calc(var(--width-100) - 60px);
    height: var(--height-100) - 60px;
    border-radius: 50%;
}

.aside__wrapper::-webkit-scrollbar {
    width: 0;
}
