@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

:root {
    --primary-font-family: 'Tajawal', sans-serif;
    --font-weight: 600;
    --font-style: normal;
    --font-icons: 'Material Icons Outlined';
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --gap-xsm: .5rem;
    --gap-sm: 1.5rem;
    --gap-md: 2.5rem;
    --gap-lg: 4.5rem;
    --width-100: 100px;
    --height-100: 100px;
    --m-width-100: 100%;
    --m-height-100: 100%;
    --mvw-width-100: 100vw;
    --mvh-height-100: 100vh;
    --p-xsm: .5rem;
    --p-sm: 1.5rem;
    --p-md: 2.5rem;
    --p-lg: 4.5rem;
    --m-xsm: .5rem;
    --m-sm: 1.5rem;
    --m-md: 2.5rem;
    --m-lg: 4.5rem;
    --border-radius-xsm: .25rem;
    --border-radius-sm: .5rem;
    --border-radius-md: 2.5rem;
    --border-radius-lg: 5rem;
    --wrapper-p-sm: 0 2.5rem;
    --wrapper-p-lg: 0 3rem;
    --orange-color: #f28123;
    --orange-color-hover: #d95e00;
    --muted-color: #999;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font-family);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    background: #f3f4f5;
}

a {
    text-decoration: none !important;
}

img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.dashboard__wrapper {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'main';
    width: var(--m-width-100);
    height: var(--m-height-100);
    transition: grid-template-rows .5s ease;
}

.dashboard__header {
    grid-area: header;
    position: sticky;
    top: 0;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: calc(260px - var(--p-sm)) 50px auto;
    grid-template-areas: 'brand toggle menu';
    background: var(--bs-white);
    padding: var(--p-sm);
    z-index: 999;
}

.dashboard__main {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 260px auto;
    grid-template-areas: 'aside content';
    width: var(--m-width-100);
    transition: grid-template-columns .5s ease;
}

.aside__wrapper {
    grid-area: aside;
    position: fixed;
    top: 100px;
    bottom: 0;
    width: 260px;
    height: calc(100% - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    background: var(--bs-white);
    padding: 0 var(--p-sm) var(--p-sm) var(--p-sm);
    transition: width .5s ease;
}

.header__brand {
    grid-area: brand;
    display: flex;
    align-items: center;
    justify-self: start;
    padding-right: calc(var(--p-sm) - .5rem);
    gap: calc(var(--gap-sm) - .5rem);
    font-size: 22px;
}

.header__toggle {
    grid-area: toggle;
    justify-self: start;
}

.header__toggle button {
    display: flex;
}

.header__menu {
    grid-area: menu;
    margin-right: auto;
}

.header__ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: calc(var(--gap-md) - .5rem);
}

.li__btn {
    position: relative;
}

.li__btn.language,
.li__btn.messages,
.li__btn.notifications {
    font-size: 24px;
    font-family: var(--font-icons);
    font-weight: normal;
    color: var(--bs-dark);
}

.li__btn.language::before {
    content: '\e894';
}

.li__btn.messages::before {
    content: '\e0be';
}

.li__btn.notifications::before {
    content: '\e7f4';
}

.li__btn-badge {
    position: absolute;
    top: -2px;
    right: 10px;
    border-radius: 50%;
    padding: calc(var(--p-xsm) - .35rem) var(--p-xsm);
    font-size: 12px;
}

.li__btn-badge.notifications {
    color: var(--bs-white);
    background: var(--bs-danger);
}

.li__btn-badge.messages {
    color: var(--bs-dark);
    background: var(--bs-warning);
    right: 12px;
}

.drop-notify,
.drop-msg {
    --bs-dropdown-min-width: 15rem
}

@media(max-width:768px) {
    .dashboard__header {
        grid-template-columns: calc(100px - var(--p-sm)) 50px auto;
        grid-template-areas: 'brand toggle';
        padding: 0 var(--p-sm);
    }
}

@media(max-width:576px) {
    .dashboard__header {
        grid-template-columns: calc(100px - var(--p-sm)) 50px;
        padding: 0 var(--p-sm);
    }

    .header__menu {
        display: none;
    }
}

.aside__ul {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 0;
    list-style: none;
    gap: calc(var(--gap-xsm) + .25rem);
}

.aside__ul a,
.aside__ul button {
    display: block;
    text-decoration: none;
    color: var(--bs-dark);
    background: #f3f4f5;
    padding: var(--p-xsm) calc(var(--p-sm) - .5rem);
    border-radius: var(--border-radius-xsm);
    transition: all .3s ease;
}

.aside__ul a.active {
    background: var(--orange-color);
    color: var(--bs-white);
}

.aside__ul a:not(.active):hover,
.aside__ul a:not(.active):focus,
.aside__ul a:not(.active):active {
    color: var(--bs-white);
    background: var(--orange-color);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.aside__ul li button {
    background: var(--bs-danger);
    color: var(--bs-white);
    transition: all .3s ease;
}

.aside__ul li button:hover,
.aside__ul li button:focus,
.aside__ul li button:active {
    background: #c82333;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.li__item {
    display: flex;
    align-items: center;
    gap: calc(var(--gap-sm) - .5rem);
}

.li__text {
    text-wrap: nowrap;
}

.li__icon {
    font-size: 22px;
    font-family: var(--font-icons);
}

.li__icon.dashboard::before {
    content: '\e871';
}

.li__icon.main::before {
    content: '\e88a';
}

.li__icon.role::before {
    content: '\e8d3';
}

.li__icon.country::before {
    content: '\e153';
}

.li__icon.user::before {
    content: '\e7f0';
}

.li__icon.profile::before {
    content: '\f02e';
}

.li__icon.settings::before {
    content: '\e8b8';
}

.li__icon.analysis::before {
    content: '\e918';
}

.li__icon.posts::before {
    content: '\ef42';
}

.li__icon.create::before {
    content: '\ea20';
}

.li__icon.log-out::before {
    content: '\e9ba';
}

.li__icon.categories::before {
    content: '\e574';
}

.li__icon.tags::before {
    content: '\e98b';
}

.dashboard__main.collapsed {
    grid-template-columns: 100px 1fr;
}

.dashboard__main.collapsed .aside__wrapper {
    width: var(--width-100);
}

.dashboard__main.collapsed .li__text,
.dashboard__main.collapsed .li__item-split {
    display: none;
}

@media(max-width:768px) {
    .dashboard__main {
        grid-template-columns: 100px auto;
    }

    .aside__wrapper {
        width: var(--width-100);
        transition: width .5s ease;
    }

    .li__item {
        display: block;
        margin: 0 auto;
        gap: 0 !important;
    }

    .li__icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .li__text,
    .li__item-split {
        display: none;
    }
}

@media(max-width:576px) {
    .dashboard__main {
        grid-template-columns: 1fr;
        grid-template-areas: 'content';
    }

    .aside__wrapper {
        display: none;
    }

    .dashboard__main.collapsed {
        grid-template-areas: 'aside content';
        grid-template-columns: 100px 1fr;
    }

    .dashboard__main.collapsed .aside__wrapper {
        display: block;
    }

    .dashboard__main.collapsed .aside__wrapper {
        width: var(--width-100);
    }
}

.dashboard__main-content {
    grid-area: content;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 'breadcrumb' 'content';
    padding: var(--p-sm);
    gap: var(--gap-sm);
}

.dashboard__breadcrumb {
    grid-area: breadcrumb;
    background: var(--bs-white);
    padding: calc(var(--p-sm) - .5rem) var(--p-sm);
    border-radius: var(--border-radius-xsm);
}

/*............... { TABLE } ...............*/

.table__wrapper {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: 'filter' 'table' 'paginate';
    gap: var(--gap-sm);
    padding: var(--p-sm);
    background: var(--bs-white);
    border-radius: var(--border-radius-xsm);
}

.table__filter {
    grid-area: filter;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-areas: 'search per-page options';
    gap: var(--gap-sm);
}

.filter__search {
    grid-area: search;
    display: flex;
}

.btn__search {
    display: grid;
    place-items: center;
    color: var(--bs-white);
    background: var(--orange-color);
    padding: var(--p-xsm) calc(var(--p-sm) - .5rem);
    border-top-right-radius: var(--border-radius-xsm);
    border-bottom-right-radius: var(--border-radius-xsm);
}

.btn__search::before {
    content: '\e8b6';
    font-family: var(--font-icons);
}

.input__search {
    border-radius: 0;
    border-top-left-radius: var(--border-radius-xsm);
    border-bottom-left-radius: var(--border-radius-xsm);
}

.filter__per-page {
    grid-area: per-page;
}

.filter__options {
    grid-area: options;
}

.btn__options {
    display: flex;
    align-items: center;
    width: var(--m-width-100);
    color: var(--bs-white);
    background: var(--orange-color);
    padding: var(--p-xsm) calc(var(--p-sm) - .5rem);
    border-radius: var(--border-radius-xsm);
    gap: var(--gap-xsm);
}

.btn__options::before {
    content: '\e429';
    font-family: var(--font-icons);
}

.btn__search,
.btn__options {
    transition: background-color .3s ease;
}

.btn__search:hover,
.btn__options:hover {
    background: var(--orange-color-hover);
}

@media (max-width:768px) {
    .table__filter {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'search search' 'per-page options';
        gap: var(--gap-sm);
    }
}

.actions__btn {
    display: grid;
    width: max-content;
    grid-template-rows: max-content;
    grid-template-columns: repeat(3, max-content);
    gap: .5rem;
}

.btn__show {
    display: grid;
    place-items: center;
    padding: .15rem var(--p-xsm);
    color: var(--bs-white);
    background: var(--bs-success);
    border-radius: var(--border-radius-xsm);
}

.btn__show::before {
    content: '\e8f4';
    font-family: var(--font-icons);
}

.btn__edit {
    display: grid;
    place-items: center;
    padding: .15rem var(--p-xsm);
    color: var(--bs-white);
    background: var(--bs-primary);
    border-radius: var(--border-radius-xsm);
}

.btn__edit::before {
    content: '\e3c9';
    font-family: var(--font-icons);
}

.btn__delete {
    display: grid;
    place-items: center;
    padding: .15rem var(--p-xsm);
    color: var(--bs-white);
    background: var(--bs-danger);
    border-radius: var(--border-radius-xsm);
}

.btn__delete::before {
    content: '\e872';
    font-family: var(--font-icons);
}

.form-select {
    background-color: var(--bs-white);
}

.table__body {
    grid-area: table;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table__img {
    width: 50px;
    height: 50px;
    border-radius: var(--border-radius-xsm);
}

.table__paginate {
    grid-area: paginate;
}

.avatar {
    width: calc(var(--width-100) - 60px) !important;
    height: calc(var(--height-100) - 60px) !important;
    border-radius: 50%;
}

.aside__wrapper::-webkit-scrollbar {
    width: 0;
}

.table__img-flag {
    width: 30px;
    height: 30px;
}

.table__label-flag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed var(--bs-border-color);
    width: calc(var(--width-100) + 50px);
    height: calc(var(--height-100) + 50px);
    border-radius: var(--border-radius-xsm);
}

.table__label-flag .table__img-flag {
    width: var(--width-100);
    height: var(--height-100);
}

/*............... { END TABLE } ...............*/

/*............... { PROFILE PAGE } ...............*/

.profile__wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'col-right col-left';
    gap: var(--gap-sm);
}

.profile__right {
    grid-area: col-right;
    display: grid;
    grid-template-rows: repeat(4, max-content);
    grid-template-columns: 1fr;
    gap: var(--gap-sm);
}

.profile__left {
    grid-area: col-left;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: 'banner' 'account';
    gap: var(--gap-sm);
}

.profile__banner {
    grid-area: banner;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'info';
}

.profile__header {
    grid-area: header;
    position: relative;
    height: calc(var(--height-100) * 2);
}

.profile__header-cover {
    position: absolute;
    width: var(--m-width-100);
    height: calc(var(--height-100) + 20px);
}

.profile__header-cover img {
    border-radius: var(--border-radius-xsm);
}

.profile__header-avatar {
    position: absolute;
    top: 30px;
    left: 50%;
    border-radius: 50%;
    width: calc(var(--width-100) + 20px);
    height: calc(var(--height-100) + 20px);
    transform: translate(-50%, 20%);
    background: var(--bs-white);
}

.profile__header-avatar img {
    border-radius: 50%;
    padding: calc(var(--p-xsm) - .25rem);
}

.loader__avatar-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn__avatar,
.btn__cover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--bs-dark);
    cursor: pointer;
}

.btn__avatar::before {
    content: '\e412';
    font-family: var(--font-icons);
    color: var(--bs-white);
}

.btn__avatar-position {
    position: absolute;
    bottom: 10px;
    right: 5px;
}

.btn__cover {
    width: 25px;
    height: 25px;
    background: var(--bs-primary);
    border-radius: var(--border-radius-xsm);
}

.btn__cover::before {
    content: '\e9b4';
    font-family: var(--font-icons);
    color: var(--bs-white);
}

.btn__cover-position {
    position: absolute;
    top: 5px;
    right: 5px;
}

.profile__info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__account {
    grid-area: account;
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}

.profile__banner,
.profile__account,
.profile__right-row {
    padding: var(--p-sm);
    background: var(--bs-white);
    border-radius: var(--border-radius-xsm);
}

@media(max-width:992px) {
    .profile__wrapper {
        grid-template-rows: repeat(2, max-content);
        grid-template-columns: 1fr;
        grid-template-areas: 'col-left' 'col-right';
    }
}

/*............... { END PROFILE PAGE } ...............*/

.analysis__wrapper {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: 'overview' 'highest' 'tracker';
    gap: var(--gap-sm);
}

.analysis__overview {
    grid-area: overview;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-sm);
    height: calc(var(--height-100) + 30px);
}

.overview__col {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    padding: var(--p-sm);
    background: var(--bs-white);
    border-radius: var(--border-radius-xsm);
    gap: var(--gap-sm);
}

.overview__col-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-xsm);
}

.overview__col-1 span {
    font-size: 40px;
}

.overview__col-2 {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xsm);
}

.analysis__highest {
    grid-area: highest;
    display: flex;
    flex-direction: column;
    gap: var(--gap-xsm);
    padding: var(--p-sm);
    background: var(--bs-white);
    border-radius: var(--border-radius-xsm);
}

.analysis__ul li {
    padding: var(--p-xsm) 0;
    margin: 0 var(--m-sm);
}

.analysis__ul li::before {
    content: "•";
    margin-right: 5px;
    color: var(--muted-color);
}

.analysis__ul a {
    color: var(--bs-dark);
    transition: color .5s ease;
}

.analysis__ul a:hover {
    color: var(--bs-primary);
}

.analysis__chart {
    width: calc(var(--width-100) * 4);
    height: calc(var(--height-100) * 3);
    border: 1px solid var(--bs-border-color);
    border-radius: var(--border-radius-xsm);
    padding: var(--p-sm) var(--p-sm) 0 var(--p-sm);
}

.analysis__tracker {
    grid-area: tracker;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'article reactions';
    gap: var(--gap-sm);
}

.tracker__articles {
    grid-area: article;
    padding: var(--p-sm);
    background: var(--bs-white);
    border-radius: var(--border-radius-xsm);
}

.tracker__reactions {
    grid-area: reactions;
    padding: var(--p-sm);
    background: var(--bs-white);
    border-radius: var(--border-radius-xsm);
}

@media (max-width:768px) {
    .analysis__overview {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        height: max-content;
    }

    .analysis__tracker {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 1fr;
        grid-template-areas: 'article' 'reactions';
    }
}

.create__post-wrapper {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    gap: var(--gap-sm);
}

.create__post-top {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'col-right col-left';
    gap: var(--gap-sm);
}

.create__post-right {
    grid-area: col-right;
    padding: var(--p-sm);
    background: var(--bs-white);
    border-radius: var(--border-radius-xsm);
    height: 300px;
}

.create__post-right label {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px dashed var(--bs-border-color);
    border-radius: var(--border-radius-xsm);
    cursor: pointer;
}

.label__img-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--muted-color);
}

.create__post-left {
    grid-area: col-left;
    padding: var(--p-sm);
    background: var(--bs-white);
    border-radius: var(--border-radius-xsm);
}

@media (max-width:992px) {
    .create__post-top {
        grid-template-rows: max-content max-content;
        grid-template-columns: 1fr;
        grid-template-areas: 'col-right' 'col-left';
    }

    .create__post-right {
        display: flex;
        justify-content: center;
    }

    .create__post-right label {
        width: 50%;
    }
}

@media(max-width:576px) {
    .create__post-right label {
        width: 100%;
    }
}

.create__post-bottom {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    gap: var(--gap-sm);
}

.create__post-bottom-row {
    padding: var(--p-sm);
    background: var(--bs-white);
    border-radius: var(--border-radius-xsm);
}

.loader {
    display: grid;
    width: calc(var(--width-100) - 50px);
    aspect-ratio: 1;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    --c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
    background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0 50%;
    background-size: 12px 12px;
    animation: loader-frames 1s infinite;
}

.loader::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear
}

@keyframes loader-frames {
    100% {
        transform: rotate(.5turn)
    }
}

.articles__wrapper {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: 'filter' 'content';
    gap: var(--gap-sm);
}

.articles__filters {
    grid-area: filter;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: 'search per-page order-by';
    padding: var(--p-sm);
    background: var(--bs-white);
    border-radius: var(--border-radius-xsm);
    gap: var(--gap-sm);
}

.filter__search {
    grid-area: search;
}

.filter__per-page {
    grid-area: per-page;
}

.filter__order-by {
    grid-area: order-by;
    display: flex;
    justify-self: end;
}

.articles__content {
    grid-area: content;
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr;
    gap: var(--gap-sm);
}

.articles__row-post {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    gap: var(--gap-sm);
    padding: var(--p-sm);
    background: var(--bs-white);
    border-radius: var(--border-radius-xsm);
}

.articles__img {
    height: 200px;
}

.articles__img img {
    border-radius: var(--border-radius-xsm);
}

.articles__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.articles__info-content {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}

.articles__settings {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-right: 1.5rem;
    border-right: 1px dashed var(--bs-border-color);
}

.paginate__section {
    padding: var(--p-sm);
    background: var(--bs-white);
    border-radius: var(--border-radius-xsm);
}

.paginate__section .pagination {
    margin: 0;
}

.paginate__section .small.text-muted {
    margin: 0;
}

/*............... { OVERWRITE } ...............*/

.form-control {
    background: var(--bs-white);
}

.breadcrumb {
    --bs-breadcrumb-padding-x: 0;
    --bs-breadcrumb-padding-y: 0;
    --bs-breadcrumb-margin-bottom: 0;
    --bs-breadcrumb-bg: ;
    --bs-breadcrumb-border-radius: ;
    --bs-breadcrumb-divider-color: var(--bs-secondary-color);
    --bs-breadcrumb-item-padding-x: 0;
    --bs-breadcrumb-item-active-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 0;
    margin-bottom: var(--bs-breadcrumb-margin-bottom);
    font-size: var(--bs-breadcrumb-font-size);
    list-style: none;
    background-color: var(--bs-breadcrumb-bg);
    border-radius: var(--bs-breadcrumb-border-radius)
}

.breadcrumb-item+.breadcrumb-item {
    padding-right: 0
}

.breadcrumb-item+.breadcrumb-item::before {
    float: right;
    padding-left: .5rem;
    color: var(--bs-breadcrumb-divider-color);
    font-family: var(--font-icons);
    content: var(--bs-breadcrumb-divider, "\e5cb")
}

.breadcrumb-item.active {
    color: var(--bs-breadcrumb-item-active-color)
}

.breadcrumb a {
    text-decoration: none;
}


.table__image-preview {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--bs-border-color);
    border-radius: var(--border-radius-xsm);
    color: var(--muted-color);
    cursor: pointer;
}
