@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');

:root {
    --primary-font-family: 'Tajawal', sans-serif;
    /* --secondary-font-family: 'El Messiri', sans-serif; */
    /* --secondary-font-family: 'Kufam', sans-serif; */
    --font-weight: 600;
    --font-style: normal;
    --font-icons: 'Material Icons Outlined';
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --gap-xsm: .5rem;
    --gap-sm: 1.5rem;
    --gap-md: 2.5rem;
    --gap-lg: 4.5rem;
    --width-100: 100px;
    --height-100: 100px;
    --m-width-100: 100%;
    --m-height-100: 100%;
    --mvw-width-100: 100vw;
    --mvh-height-100: 100vh;
    --p-xsm: .5rem;
    --p-sm: 1.5rem;
    --p-md: 2.5rem;
    --p-lg: 4.5rem;
    --m-xsm: .5rem;
    --m-sm: 1.5rem;
    --m-md: 2.5rem;
    --m-lg: 4.5rem;
    --border-radius-xsm: .25rem;
    --border-radius-sm: .5rem;
    --border-radius-md: 2.5rem;
    --border-radius-lg: 5rem;
    --wrapper-p-sm: 0 1.5rem;
    --wrapper-p-lg: 0 3rem;
    --orange-color: #f28123;
    --orange-color-hover: #d95e00;
    --muted-color: #999;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font-family);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    background: #f3f4f5;
}

a {
    text-decoration: none !important;
}

figure {
    margin: 0;
}

img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.wrapper {
    display: grid;
    width: var(--m-width-100);
    min-height: var(--mvh-height-100);
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'main' 'footer';
    transition: grid-template-rows .5s ease;
}

.wrapper__header {
    grid-area: header;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 'brand menu settings';
    place-items: center;
    background: var(--bs-white);
    padding: var(--wrapper-p-lg);
    transition: padding .5s ease;
    z-index: 111;
}

.wrapper__header-brand {
    grid-area: brand;
    justify-self: start;
    font-size: 25px;
    transition: filter .5s ease;
}

.wrapper__header-brand:hover {
    filter: drop-shadow(1px 1px 5px var(--orange-color));
}

.wrapper__header-brand a {
    color: var(--bs-dark);
}

.wrapper__header-menu {
    grid-area: menu;
}

.header__menu {
    display: flex;
    margin: 0;
    padding: 0;
    gap: var(--gap-md);
}

.header__menu a {
    font-size: 18px;
    color: var(--bs-dark);
    transition: color .3s ease;
}

.header__menu a:hover {
    color: var(--orange-color);
}

.header__menu .active {
    color: var(--orange-color);
}

.wrapper__header-settings {
    grid-area: settings;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, max-content);
    grid-template-areas: 'lang theme';
    justify-self: end;
    gap: var(--gap-md);
    cursor: not-allowed;
}

.header__lang,
.header__theme {
    display: flex;
    align-items: center;
    gap: var(--gap-xsm);
}

.wrapper__header-offcanvas {
    display: none;
    justify-self: end;

}

.header__toggle-btn {
    font-size: 25px;
    display: flex;
    padding: 0;
}

.header__toggle-btn::before {
    content: '\e5d2';
    font-family: var(--font-icons);
}

.offcanvas {
    max-width: 30%;
    background: var(--bs-white);
}

.offcanvas__menu {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap-sm) - .5rem);
    padding: 0;
    margin: 0;
}

.offcanvas__menu a,
.offcanvas__menu .li__lang,
.offcanvas__menu .li__theme {
    display: block;
    padding: var(--p-xsm);
    background: #f3f4f5;
    border-radius: var(--border-radius-xsm);
    color: var(--bs-dark);
    transition: all .5s ease;
}

.offcanvas__menu a.active {
    color: var(--bs-white);
    background: var(--orange-color);
}

.offcanvas__menu a:not(.active):hover,
.offcanvas__menu a:not(.active):focus,
.offcanvas__menu a:not(.active):active {
    color: var(--bs-white);
    background: var(--orange-color);
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.offcanvas__menu .li__login,
.offcanvas__menu .li__dashboard,
.offcanvas__menu .li__categories,
.offcanvas__menu .li__index,
.offcanvas__menu .li__articles {
    display: none;
}

.offcanvas-header {
    justify-content: space-between;
    flex-direction: row-reverse;
}

@media (min-width:992px) {

    .offcanvas,
    .offcanvas-backdrop {
        display: none;
    }
}

@media (max-width:992px) {
    .wrapper__header {
        grid-template-rows: 1fr;
        grid-template-columns: 100px 3fr 50px;
        grid-template-areas: 'brand menu offcanvas';
    }

    .wrapper__header-settings {
        display: none;
    }

    .offcanvas,
    .offcanvas-backdrop {
        display: block;
    }

    .wrapper__header-offcanvas {
        grid-area: offcanvas;
        display: block;
    }
}

@media (max-width:820px) {

    .li__login,
    .li__dashboard {
        display: none;
    }

    .offcanvas__menu .li__login,
    .offcanvas__menu .li__dashboard {
        display: block;
    }
}

@media (max-width:768px) {
    .wrapper {
        grid-template-rows: 60px 1fr 100px;
    }

    .wrapper__header {
        padding: var(--wrapper-p-sm);
    }

    .wrapper__header-brand {
        font-size: 18px;
    }

    .offcanvas {
        max-width: 50%;
    }
}

@media (max-width:700px) {
    .li__categories {
        display: none;
    }

    .offcanvas__menu .li__categories {
        display: block;
    }
}

@media (max-width:576px) {

    .wrapper__header {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 50px;
        grid-template-areas: 'brand offcanvas';
    }

    .li__index,
    .li__articles {
        display: none;
    }

    .offcanvas__menu .li__index,
    .offcanvas__menu .li__articles {
        display: block;
    }
}

@media (max-width:400px) {
    .offcanvas-header {
        flex-direction: column-reverse;
    }
}

.wrapper__main {
    grid-area: main;
    display: grid;
    grid-template-rows: repeat(7, max-content);
    grid-template-columns: 1fr;
    grid-template-areas:
        'hero'
        'row-one-wave-up'
        'row-one'
        'row-one-wave-down'
        'subscribe'
        'row-two-wave-up'
        'row-two'
        'row-two-wave-down'
        'best-user'
        'row-three-wave-up'
        'row-three'
        'row-three-wave-down'
    ;
}

.main__hero {
    grid-area: hero;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--m-width-100);
    height: calc(100vh - 100px);
    overflow: hidden;
    transition: all .5s ease;
}

.main__hero-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-sm);
    color: var(--bs-white);
    z-index: 2;
}

.main__hero:hover img {
    transform: scale(1.05);
}

.main__hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--m-width-100);
    height: var(--m-height-100);
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, .7));
    z-index: 1;
}

.main__hero-title {
    font-size: 64px;
    transition: font-size .5s ease;
}

.main__hero-subtitle {
    font-size: 24px;
    transition: font-size .5s ease;
}

.main__hero-button {
    font-size: 20px;
    border-radius: var(--border-radius-xsm);
    padding: calc(var(--p-xsm) + .25rem) var(--p-sm);
    color: var(--bs-white);
    background: var(--orange-color);
    transition: all .5s ease;
}

.main__hero-button:hover {
    background-color: var(--orange-color-hover);
}

@media (max-width: 768px) {
    .main__hero {
        height: calc(var(--mvh-height-100) - 40vh);
    }

    .main__hero-title {
        font-size: 30px;
    }

    .main__hero-subtitle {
        font-size: 18px;
    }

    .main__hero-button {
        font-size: 18px;
        padding: var(--p-xsm);
    }
}

@media (max-width: 480px) {
    .main__hero-title {
        font-size: 22px;
    }

    .main__hero-subtitle {
        padding: 0 var(--p-md);
        font-size: 16px;
        text-align: center;
    }

    .main__hero-button {
        font-size: 16px;
        padding: calc(var(--p-xsm) - .25rem);
    }
}

.main__section-one {
    grid-area: row-one;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'content';
    background: var(--bs-white);
    gap: calc(var(--gap-md) + .5rem);
}

.main__section-header {
    grid-area: header;
    display: flex;
    flex-direction: column;
}

.section__title {
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: var(--gap-xsm);
}

.main__section-one .section__title::before {
    content: "\ef49";
    font-family: var(--font-icons);
}

.section__subtitle {
    font-size: 18px;
    color: var(--muted-color);
}

.section__one-content {
    grid-area: content;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: 1fr;
    gap: calc(var(--gap-lg) + .5rem);
}

.section__one-post {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'img content';
    gap: var(--gap-sm);
}

.section__one-post--img {
    grid-area: img;
    width: var(--m-width-100);
    height: calc((var(--height-100) * 4) + 50px);
}

.section__one-post--img img {
    border-top-left-radius: var(--border-radius-lg);
    border-bottom-left-radius: var(--border-radius-sm);
    border-top-right-radius: var(--border-radius-sm);
    border-bottom-right-radius: var(--border-radius-lg);
}

.post__badge {
    display: flex;
    align-items: center;
    padding: var(--p-xsm);
    border-radius: var(--border-radius-xsm);
    gap: var(--gap-xsm);
}

.post__badge::before {
    content: '\e98b';
    font-family: var(--font-icons);
}

.section__one-post:nth-child(even) {
    direction: ltr;
    text-align: right;
}

.section__one-post:nth-child(even) .section__one-post--img img {
    border-top-left-radius: var(--border-radius-sm);
    border-bottom-left-radius: var(--border-radius-lg);
    border-top-right-radius: var(--border-radius-lg);
    border-bottom-right-radius: var(--border-radius-sm);
}

.section__one-post:nth-child(even) header {
    direction: rtl;
}

.section__one-post--content {
    grid-area: content;
    display: flex;
    flex-direction: column;
}

.post__title {
    font-size: 25px;
    color: var(--bs-dark);
}

.post__subtitle {
    color: var(--muted-color);
    margin: 0;
}

.post__content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap-sm) + .5rem);
}

.btn__read-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    color: var(--bs-white);
    background: var(--orange-color);
    padding: var(--p-xsm) calc(var(--p-md) + .5rem);
    border-radius: calc(var(--border-radius-md) - .5rem);
    transition: background-color .3s ease;
    margin: var(--m-sm) 0;
}

.btn__read-more:hover {
    background: var(--orange-color-hover);
}

.btn__read-more::after {
    content: "\e5cb";
    font-family: var(--font-icons);
    transition: transform .3s ease;
}

.btn__read-more:hover::after {
    transform: translateX(-1.5rem);
}

.section__one-post:nth-child(even) .btn__read-more::after {
    content: "";
}

.section__one-post:nth-child(even) .btn__read-more::before {
    content: "\e5cb";
    font-family: var(--font-icons);
    transition: transform .3s ease;
}

.section__one-post:nth-child(even) .btn__read-more {
    margin-left: auto;
}

.section__one-post:nth-child(even) .btn__read-more:hover::before {
    transform: translateX(-1.5rem);
}

.post__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.post__reactions {
    display: flex;
    justify-content: end;
    gap: calc(var(--border-radius-md) + .5rem);
}

.like,
.dislike {
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: var(--gap-xsm);
}

.like::before {
    content: "\e8dc";
    font-family: var(--font-icons);
    color: var(--bs-primary);
}

.dislike::before {
    content: "\e8db";
    font-family: var(--font-icons);
    color: var(--bs-danger);
}

.section__one-post:nth-child(even) footer {
    direction: rtl;
}

@media (max-width: 768px) {
    .section__one-post {
        grid-template-rows: max-content max-content;
        grid-template-columns: 1fr;
        grid-template-areas: 'content' 'img';
    }

    .section__one-post--img {
        height: calc((var(--height-100) * 2) + 50px);
    }

    .section__title {
        font-size: 24px;
    }

    .section__subtitle {
        font-size: 16px;
    }

    .post__title {
        font-size: 20px;
    }

    .post__subtitle {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .section__title {
        font-size: 20px;
    }

    .section__subtitle {
        font-size: 14px;
    }

    .post__title {
        font-size: 18px;
    }

    .post__subtitle {
        font-size: 12px;
    }

    .post__footer {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: calc(var(--gap-sm) - .5rem);
        margin-top: auto;
    }

    .post__footer .post__reactions {
        align-self: center;
    }
}

.main__subscribe {
    grid-area: subscribe;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'form img';
    place-items: center;
}

.main__subscribe-form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: calc(var(--m-width-100) - 25%);
    gap: calc(var(--gap-md) - .5rem);
}

.subscribe__form {
    display: flex;
    width: calc(var(--m-width-100) - 10%);
    gap: calc(var(--gap-sm) - .5rem);
}

.subscribe__text {
    font-size: 30px;
}

.main__subscribe-form input {
    line-height: 3;
    background: var(--bs-white);
}

.main__subscribe-img {
    grid-area: img;
}

@media (max-width: 768px) {
    .main__subscribe {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'form';
    }

    .main__subscribe-img {
        display: none;
    }

    .main__subscribe-form {
        width: var(--m-width-100);
    }

    .subscribe__form input {
        width: calc(var(--m-width-100) - 30%);
        line-height: 2;
    }

    .subscribe__form button {
        width: calc(var(--m-width-100) - 70%);
    }

    .subscribe__text {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .subscribe__form {
        flex-direction: column;
        align-items: center;
        width: var(--m-width-100);
    }

    .subscribe__text {
        font-size: 20px;
    }
}

.main__section-two {
    grid-area: row-two;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'content';
    background: var(--bs-white);
    gap: calc(var(--gap-md) + .5rem);
}

.main__section-two .section__title::before {
    content: "\e8e5";
    font-family: var(--font-icons);
}

.section__two-content {
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'col-right col-left';
    gap: calc(var(--gap-md) + .5rem);
}

.section__two-right {
    grid-area: col-right;
    position: relative;
    height: calc(var(--height-100) * 6);
    overflow: hidden;
    border-radius: var(--border-radius-sm);
}

.col__right-badge {
    position: absolute;
    top: 0;
}

.col__right-badge .post__badge {
    color: var(--bs-dark);
    background: var(--bs-white);
}

.col__right-badge .post__badge::before {
    content: '\ef55';
}

.col__content {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    gap: var(--gap-xsm);
    z-index: 2;
}

.col__content,
.col__right-badge {
    padding: calc(var(--p-md) + .5rem);
}

.col__content .post__title {
    color: var(--bs-white);
    transition: text-decoration .3s ease;
}

.col__content .post__title:hover {
    text-decoration: underline !important;
}

.col__content .post__subtitle {
    color: var(--bs-white);
}

.col__right-owner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: calc(var(--m-md) + .5rem);
    color: var(--bs-white);
}

.col__right-owner>* {
    font-size: 18px;
}

.section__two-left {
    grid-area: col-left;
    display: grid;
    height: calc(var(--height-100) * 6);
    grid-template-rows: repeat(2, 276px);
    grid-template-columns: 1fr;
    gap: calc(var(--gap-md) + .5rem);
}

.section__two-row {
    position: relative;
    border-radius: var(--border-radius-sm);
    overflow: hidden;
}

.section__two-right img,
.section__two-row img {
    border-radius: var(--border-radius-sm);
    transition: transform 1.5s ease;
}

.section__two-right:hover img,
.section__two-row:hover img {
    transform: scale(1.2);
}

@media (max-width: 1024px) {
    .section__two-content {
        grid-template-columns: 1fr;
        grid-template-areas:
            'col-right'
            'col-left';
    }

    .section__two-right,
    .section__two-left {
        height: auto;
    }

    .section__two-left {
        grid-template-rows: repeat(2, auto);
    }
}

@media (max-width: 768px) {

    .col__content,
    .col__right-badge {
        padding: var(--p-sm);
    }

    .col__content .post__title {
        font-size: 20px;
    }

    .col__right-owner>* {
        font-size: 16px;
    }

    .section__two-left {
        grid-template-rows: repeat(2, auto);
    }

    .section__two-row {
        height: auto;
    }
}

@media (max-width: 480px) {
    .col__content .post__title {
        font-size: 18px;
    }

    .col__right-owner>* {
        font-size: 14px;
    }
}

.main__best-user {
    grid-area: best-user;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'content';
    gap: calc(var(--gap-md) - .5rem);
}

.main__best-user .main__section-header {
    align-items: center;
}

.main__best-user .section__title::before {
    content: "\e79a";
    font-family: var(--font-icons);
}

.best__user-content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    gap: var(--gap-xsm);
}

.avatar-confetti {
    cursor: pointer;
}

.best__user-content .avatar {
    width: calc(var(--width-100) + 20px);
    height: calc(var(--height-100) + 20px);
}

.best__user-quote {
    text-align: center;
    color: var(--muted-color);
    width: calc(var(--m-width-100) - 50%);
}

.more__user {
    display: flex;
    align-items: center;
    color: var(--muted-color);
    margin-top: calc(var(--m-sm) - .5rem);
    gap: var(--gap-xsm);
}

.more__user a {
    color: var(--muted-color);
    transition: color 0.5s ease;
}

.more__user::before,
.more__user::after {
    content: "\ea50";
    font-family: var(--font-icons);
    transition: transform 0.5s ease;
}

.more__user::before {
    transform: rotate(0deg);
}

.more__user::after {
    transform: rotate(-180deg);
}

.more__user:hover::before {
    transform: rotate(-180deg);
}

.more__user:hover::after {
    transform: rotate(0deg);
}

.more__user a:hover {
    color: var(--bs-primary);
}

@media (max-width: 1024px) {
    .best__user-content {
        font-size: 18px;
        width: var(--m-width-100);
    }

    .best__user-content .avatar {
        width: calc(var(--width-100) + 15px);
        height: calc(var(--height-100) + 15px);
    }

    .best__user-quote {
        width: calc(var(--m-width-100) - 10%);
    }

    .more__user {
        gap: var(--gap-sm);
    }
}

@media (max-width: 768px) {
    .best__user-content {
        font-size: 16px;
    }

    .best__user-content .avatar {
        width: calc(var(--width-100) + 10px);
        height: calc(var(--height-100) + 10px);
    }

    .best__user-quote {
        width: calc(var(--m-width-100) - 20%);
    }
}

@media (max-width: 480px) {
    .best__user-content {
        font-size: 14px;
    }

    .best__user-content .avatar {
        width: calc(var(--width-100) - 20px);
        height: calc(var(--height-100) - 20px);
    }
}

.one__waves-up {
    grid-area: row-one-wave-up;
}

.one__waves-down {
    grid-area: row-one-wave-down;
}

.two__waves-up {
    grid-area: row-two-wave-up;
}

.two__waves-down {
    grid-area: row-two-wave-down;
}

.three__waves-up {
    grid-area: row-three-wave-up;
}

.three__waves-down {
    grid-area: row-three-wave-down;
    background: var(--bs-white);
}

.main__section-three {
    grid-area: row-three;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: 'header' 'content';
    gap: calc(var(--gap-md) + .5rem);
    background: var(--bs-white);
}

.main__section-header {
    grid-area: header;
}

.main__section-three .section__title::before {
    content: "\e574";
    font-family: var(--font-icons);
}

.section__three-content {
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 'col-right col-left';
    gap: calc(var(--gap-md) - .5rem);
}

.section__three-right {
    grid-area: col-right;
}

.section__three-right>div {
    padding: var(--p-xsm) calc(var(--p-sm) - .5rem);
    border-radius: var(--border-radius-xsm);
}

.nav-pills .nav-link {
    color: var(--bs-nav-pills-link-inactive-color);
    background-color: #f3f4f5;
    border-radius: var(--border-radius-xsm);
}

.nav-pills .nav-link:hover {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--orange-color);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--orange-color);
    border-radius: var(--border-radius-xsm);
}

.section__three-right input,
.section__three-right .nav a {
    padding: calc(var(--p-sm) - .5rem) calc(var(--p-sm) + .5rem);
    border-radius: var(--border-radius-xsm);
}

.nav__link-badge {
    background: var(--bs-dark);
    padding: 0 var(--p-xsm);
    border-radius: var(--border-radius-xsm);
    color: var(--bs-white);
}

.section__three-left {
    grid-area: col-left;
}

.section__three-left .tab-pane {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--gap-md) - .5rem);
}

.post__category {
    position: relative;
    height: calc(var(--height-100) * 3);
}

.post__category img {
    border-radius: var(--border-radius-xsm);
}

.post__category-title {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    color: var(--bs-white);
    font-size: 25px;
    z-index: 2;
    transition: opacity .5s ease;
}

.post__category-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
    font-size: 25px;
    color: var(--bs-white);

    transition: opacity .5s ease;
}

.post__category:hover .post__category-title {
    opacity: 0;
}

.post__category:hover .post__category-link {
    opacity: 1;
}

.wrapper__main> :not(.main__hero,
    .one__waves-up, .one__waves-down,
    .two__waves-up, .two__waves-down,
    .three__waves-up, .three__waves-down) {
    padding: var(--wrapper-p-lg);
}

@media (max-width:768px) {

    .wrapper__main> :not(.main__hero,
        .one__waves-up, .one__waves-down,
        .two__waves-up, .two__waves-down,
        .three__waves-up, .three__waves-down) {
        padding: var(--wrapper-p-sm);
    }
}

.wrapper__footer {
    grid-area: footer;
    padding: var(--wrapper-p-lg);
    bottom: 0;
    background: #051922;
}

.flash-animation {
    position: relative;
    overflow: hidden;
}

.flash-animation::before {
    content: '';
    position: absolute;
    top: 0;
    z-index: 2;
    left: -80%;
    width: 50%;
    height: var(--m-height-100);
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
}

.flash-animation:hover::before {
    animation: img-flash 1s;
}

@-webkit-keyframes img-flash {
    100% {
        left: 125%;
    }
}

@keyframes img-flash {
    100% {
        left: 125%;
    }
}

.underline__hover {
    position: relative;
    color: var(--bs-dark);
    text-decoration: none;
}

.underline__hover::before {
    content: '';
    position: absolute;
    width: var(--m-width-100);
    height: 2px;
    border-radius: 4px;
    background-color: var(--bs-dark);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.underline__hover:hover::before {
    transform-origin: right;
    transform: scaleX(1);
}

.avatar {
    width: calc(var(--width-100) - 60px);
    height: var(--height-100) - 60px;
    border-radius: 50%;
}

.avatar__subtle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--width-100) - 60px);
    height: calc(var(--height-100) - 60px);
    border-radius: 50%;
    color: var(--bs-primary);
    background: var(--bs-primary-bg-subtle);
    cursor: pointer;
}

.muted-color {
    color: var(--muted-color);
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--m-width-100);
    height: var(--m-height-100);
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, .5));
    z-index: 1;
    border-radius: .5rem;
}


/*............... { AUTH PAGE } ...............*/

.auth__wrapper {
    display: grid;
    place-items: center;
    width: var(--mvw-width-100);
    height: var(--mvh-height-100);
    background: url('/assets/img/svg/stacked-waves.svg');
}

.auth__wrapper-main {
    background: var(--bs-white);
    width: calc(var(--m-width-100) - 60%);
    padding: var(--p-sm);
    border-radius: calc(var(--border-radius-sm) + .5rem);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    transition: width .5s ease-in-out;
}

.auth__wrapper-form {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap-sm) - .5rem);
}

.social__links {
    width: 32px;
}

@media (max-width:768px) {
    .auth__wrapper-main {
        width: calc(var(--m-width-100) - 40%);
    }
}

@media (max-width:576px) {
    .auth__wrapper-main {
        width: calc(var(--m-width-100) - 20%);
    }
}
