@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');

:root {
    --primary-font-family: 'Tajawal', sans-serif;
    /* --secondary-font-family: 'El Messiri', sans-serif; */
    /* --secondary-font-family: 'Kufam', sans-serif; */
    --font-weight: 600;
    --font-style: normal;
    --font-icons: 'Material Icons Outlined';
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --gap-xsm: .5rem;
    --gap-sm: 1.5rem;
    --gap-md: 2.5rem;
    --gap-lg: 4.5rem;
    --width-100: 100px;
    --height-100: 100px;
    --m-width-100: 100%;
    --m-height-100: 100%;
    --mvw-width-100: 100vw;
    --mvh-height-100: 100vh;
    --p-xsm: .5rem;
    --p-sm: 1.5rem;
    --p-md: 2.5rem;
    --p-lg: 4.5rem;
    --m-xsm: .5rem;
    --m-sm: 1.5rem;
    --m-md: 2.5rem;
    --m-lg: 4.5rem;
    --border-radius-xsm: .25rem;
    --border-radius-sm: .5rem;
    --border-radius-md: 2.5rem;
    --border-radius-lg: 5rem;
    --wrapper-p-sm: 0 2.5rem;
    --wrapper-p-lg: 0 3rem;
    --orange-color: #f28123;
    --orange-color-hover: #d95e00;
    --muted-color: #999;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font-family);
    font-weight: var(--font-weight);
    font-style: var(--font-style);
    background: #f3f4f5;
}

a {
    text-decoration: none !important;
}

figure {
    margin: 0;
}

img {
    width: var(--m-width-100);
    height: var(--m-height-100);
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.wrapper {
    display: grid;
    width: var(--m-width-100);
    min-height: var(--mvh-height-100);
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr;
    grid-template-areas: 'header''main''footer';
}

.wrapper__header {
    grid-area: header;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 'brand menu settings';
    place-items: center;
    background: var(--bs-white);
    padding: var(--wrapper-p-lg);
    z-index: 999;
}

.wrapper__header-brand {
    grid-area: brand;
}

.wrapper__header-menu {
    grid-area: menu;
}

.header__menu {
    display: flex;
    margin: 0;
    padding: 0;
    gap: var(--gap-md);
}

.header__menu a {
    font-size: 18px;
    color: var(--bs-dark);
    transition: color .3s ease;
}

.header__menu a:hover {
    color: var(--orange-color);
}

.wrapper__header-settings {
    grid-area: settings;
    display: grid;
    width: var(--m-width-100);
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 'lang theme';
    justify-content: space-between;
}

.header__lang,
.header__theme {
    display: flex;
    align-items: center;
    gap: var(--gap-xsm);
}

.wrapper__main {
    grid-area: main;
    display: grid;
    grid-template-rows: repeat(5, max-content);
    grid-template-columns: 1fr;
    grid-template-areas:
        'hero'
        'row-one-wave-up'
        'row-one'
        'row-one-wave-down'
        'row-two'
        'row-three'
    ;
}

.waves__up {
    grid-area: row-one-wave-up;
    height: max-content;
}

.waves__down {
    grid-area: row-one-wave-down;
    height: max-content;
}

.wrapper__main> :not(.main__hero, .waves__up, .waves__down) {
    padding: var(--wrapper-p-lg);
}

.main__hero {
    grid-area: hero;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--m-width-100);
    height: calc(100vh - 100px);
    overflow: hidden;
}

.main__hero-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-sm);
    color: var(--bs-white);
    z-index: 2;
}

.main__hero:hover img {
    transform: scale(1.05);
}

.main__hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--m-width-100);
    height: var(--m-height-100);
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, .7));
    z-index: 1;
}

.main__hero-title {
    font-size: 64px;
}

.main__hero-subtitle {
    font-size: 24px;
}

.main__hero-button {
    font-size: 20px;
    border-radius: var(--border-radius-xsm);
    padding: calc(var(--p-xsm) + .25rem) var(--p-sm);
    color: var(--bs-white);
    background: var(--orange-color);
    transition: background-color .3s ease;
}

.main__hero-button:hover {
    background-color: var(--orange-color-hover);
}

.main__section-one {
    grid-area: row-one;
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    grid-template-areas: 'header''content';
    background: var(--bs-white);
    gap: calc(var(--gap-md) + .5rem);
}

.main__section-header {
    grid-area: header;
    display: flex;
    flex-direction: column;
}

.section__title {
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: var(--gap-xsm);
}

.section__title::before {
    content: "\ef49";
    font-family: var(--font-icons);
}

.section__subtitle {
    font-size: 18px;
    color: var(--muted-color);
}

.section__one-content {
    grid-area: content;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: 1fr;
    gap: calc(var(--gap-lg) + .5rem);
}

.section__one-post {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'img content';
    gap: var(--gap-sm);
}

.section__one-post--img {
    grid-area: img;
    width: var(--m-width-100);
    height: calc((var(--height-100) * 4) + 50px);
}

.section__one-post--img img {
    border-top-left-radius: var(--border-radius-lg);
    border-bottom-left-radius: var(--border-radius-sm);
    border-top-right-radius: var(--border-radius-sm);
    border-bottom-right-radius: var(--border-radius-lg);
}

.post__badge {
    display: flex;
    align-items: center;
    padding: var(--p-xsm);
    border-radius: var(--border-radius-xsm);
    gap: var(--gap-xsm);
}

.post__badge::before {
    content: '\e98b';
    font-family: var(--font-icons);
}

.section__one-post:nth-child(even) {
    direction: ltr;
    text-align: right;
}

.section__one-post:nth-child(even) .section__one-post--img img {
    border-top-left-radius: var(--border-radius-sm);
    border-bottom-left-radius: var(--border-radius-lg);
    border-top-right-radius: var(--border-radius-lg);
    border-bottom-right-radius: var(--border-radius-sm);
}

.section__one-post:nth-child(even) header {
    direction: rtl;
}

.section__one-post--content {
    grid-area: content;
    display: flex;
    flex-direction: column;
}

.post__title {
    font-size: 25px;
    color: var(--bs-dark);
}

.post__subtitle {
    color: var(--muted-color);
    margin: 0;
}

.post__content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap-sm) + .5rem);
}

.btn__read-more {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: var(--bs-white);
    background: var(--orange-color);
    padding: var(--p-xsm) calc(var(--p-md) + .5rem);
    border-radius: calc(var(--border-radius-md) - .5rem);
    transition: background-color .3s ease;
}

.btn__read-more:hover {
    background: var(--orange-color-hover);
}

.btn__read-more::after {
    content: "\e5cb";
    font-family: var(--font-icons);
    transition: transform .3s ease;
}

.btn__read-more:hover::after {
    transform: translateX(-1.5rem);
}

.section__one-post:nth-child(even) .btn__read-more::after {
    content: "";
}

.section__one-post:nth-child(even) .btn__read-more::before {
    content: "\e5cb";
    font-family: var(--font-icons);
    transition: transform .3s ease;
}

.section__one-post:nth-child(even) .btn__read-more {
    margin-left: auto;
}

.section__one-post:nth-child(even) .btn__read-more:hover::before {
    transform: translateX(-1.5rem);
}

.post__reactions {
    display: flex;
    justify-content: end;
    gap: calc(var(--border-radius-md) + .5rem);
}

.like,
.dislike {
    display: flex;
    align-items: center;
    font-size: 25px;
    gap: var(--gap-xsm);
}

.like::before {
    content: "\e8dc";
    font-family: var(--font-icons);
    color: var(--bs-primary);
}

.dislike::before {
    content: "\e8db";
    font-family: var(--font-icons);
    color: var(--bs-danger);
}

.section__one-post:nth-child(even) footer {
    direction: rtl;
}







.main__section-two {
    grid-area: row-two;
    background: var(--bs-white);
}


.main__section-three {
    grid-area: row-three;
    background: var(--bs-white);
}

.wrapper__footer {
    grid-area: footer;
    padding: var(--wrapper-p-lg);
    bottom: 0;
    background: #051922;
}

.flash-animation {
    position: relative;
    overflow: hidden;
}

.flash-animation::before {
    content: '';
    position: absolute;
    top: 0;
    z-index: 2;
    left: -80%;
    width: 50%;
    height: var(--m-height-100);
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    transform: skewX(-25deg);
}

.flash-animation:hover::before {
    animation: img-flash 1s;
}

@-webkit-keyframes img-flash {
    100% {
        left: 125%;
    }
}

@keyframes img-flash {
    100% {
        left: 125%;
    }
}

.underline__hover {
    position: relative;
    color: var(--bs-dark);
    text-decoration: none;
}

.underline__hover::before {
    content: '';
    position: absolute;
    width: var(--m-width-100);
    height: 2px;
    border-radius: 4px;
    background-color: var(--bs-dark);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.underline__hover:hover::before {
    transform-origin: right;
    transform: scaleX(1);
}

.avatar {
    width: calc(var(--width-100) - 60px);
    height: var(--height-100) - 60px;
    border-radius: 50%;
}

.avatar__subtle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--width-100) - 60px);
    height: calc(var(--height-100) - 60px);
    border-radius: 50%;
    color: var(--bs-primary);
    background: var(--bs-primary-bg-subtle);
    cursor: pointer;
}

.muted-color {
    color: var(--muted-color);
}
